<template>
  <header class="topbar h4_5 pr1 shade1">
    <button click="toggle" clicktargetfield="aside[0]" class="md_du ml1 p05 br50 hover-"><i class="icon24">≡</i></button>
    <figure class="mh30p pl2 pr2 df-">
      <a href="./home.html" key="0">
        <img class="pr025" src="https://www.aleptra.com/assets/img/logo_black.png">
        <p class="black06 fs10">BSMS</p>
      </a>
    </figure>
    <a href="./" class="fs90 fr" key="4"><i class="icon24 pr05">⍈</i><span class="md_dn">Logga ut</span></a>
  </header>
  <aside class="w15 shade2 md_dn">
    <div include="includes/sidebar.html"></div>
  </aside>
  <main class="pauto"></main>
  <aside class="testar"></aside>
  <footer></footer>
</template>