<template>
  <header class="topbar h4_5 gap1- pr2 shade1">
    <button click="toggle" clicktargetfield="aside[0]" class="md_du light pl1"><i class="icon32">≡</i></button>
    <figure class="sel p075">
      <a href="./"><img class="br50 bos2 red bw5 shade1 hue-rotate" src="https://www.aramean.institute/favicon.ico"></a>
    </figure>
    <div class="ml0 f1">
      <input
        id="query2"
        type="text"
        class="bs1 p1 h3 br05 dark white w100 md_dn"
        globalize-get="input_search"
        globalize-target="placeholder"
        autocomplete="off"
        focus>
      <div 
        stop="data-src"
        bindglobal="l:globalize.code"
        bindfield="q:#query2"
        bindasset="apikey:api.api_key;endpoint:api.words.endpoint"
        data-src="{endpoint}?select=*&word->>{l}=ilike.{q:*}"
        data-header="apikey:{apikey};Prefer:count=exact"
        data-iterate="true"
        data-loader="false"
        class="box br05 bcblack- white- border- pa w100"
        hide>
        <figure class="p05">
          <a bindglobal="l:globalize.code" data-set="id:id" data-get="word.eng" href="word.html?i={id}" class="md_dn"></a>
        </figure>
      </div>
    </div>
    <a href="categories.html"><i class="icon pr025">≡</i><span globalize-get>Browse</span></a>
  </header>
  <aside></aside>
  <main class="pauto"></main>
  <aside class="testar"></aside>
  <footer></footer>
</template>