<template>
  <header class="topbar h4_5 pr1 shade1">
    <figure class="sel p1">
      <a href="./"><img class="br50 bos2 red bw3 shade1 hue-rotate" src="https://www.aramean.institute/favicon.ico"></a>
    </figure>
    <button click="toggle" clicktargetfield="aside[0]" class="md_du light"><i class="icon32">≡</i></button>
    <div class="ml0 pr pr1 f1">
      <input
        id="query2"
        type="text"
        class="bs1 p1 h3 br05 dark white w100 md_dn"
        globalize-get="input_search"
        globalize-target="placeholder"
        autocomplete="off"
        focus>
      <div
        stop="data-src"
        bindglobal="l:globalize.code"
        bindfield="q:#query2"
        bindasset="apikey:api.api_key;endpoint:api.words.endpoint"
        data-src="{endpoint}?select=*&word->>{l}=ilike.{q:*}&limit=30"
        data-header="apikey:{apikey};Prefer:count=exact"
        data-iterate="true"
        data-loader="false"
        class="box br05 bcblack- white- border- pa w100 ail-"
        hide>
        <figure>
          <a bindglobal="l:globalize.code" data-set="id:id" data-get="word.{l}" href="word.html?i={id}" class="p1 md_dn"></a>
        </figure>
      </div>
    </div>
    <div class="gap1- fs07">
    <a href="browse.html"><i class="icon pr025">≡</i><span class="md_dn" globalize-get>Browse</span></a>
    <a href="#language"><i class="icon pr025">🌐</i><span class="md_dn" globalize-get>Language</span></a>
  </div>
  </header>
  <aside></aside>
  <main class="pauto"></main>
  <aside class="testar"></aside>
  <footer></footer>
</template>