[hide] {
  display: none
}

.h100p{
  height: 100%
}

.zi50 {
  z-index: 50
}

.jcc {
  justify-content: center
}

.tac {
  margin: auto
}

.ail- * {
  align-items: normal !important
}

.aic {
  align-items: center !important
}

.ais {
  align-items: stretch;
}

.aie {
  align-items: end !important;
}

.box *, .cards{
  box-sizing: border-box;
  /*width: 100%*/
}

.loader {
  display: inherit
}

.box.list * {
  width: auto;
  align-items: stretch;
}

.autocomplete {
  box-shadow: 0 0 17rem 29rem rgba(0,0,0, .5)
}

@font-face {
  font-family: material;
  src: url('https://cdn.front.nu/dist/design/material/icons/material.woff')
}

@font-face {
  font-family: adiabene;
  src: url('../fonts/adiabene.ttf')
}

@font-face {
  font-family: edessa;
  src: url('../fonts/edessa.otf')
}

@font-face {
  font-family: midyat;
  src: url('../fonts/midyat.otf')
}

@font-face {
  font-family: urhoy;
  src: url('../fonts/urhoy.otf')
}

@font-face {
  font-family: mardin;
  src: url('../fonts/mardin.otf')
}

.ffadiabene {
  font-family: adiabene;
  zoom: 1.7
}

.ffedessa {
  font-family: edessa;
  zoom: 1.6
}

.ffmidyat {
  font-family: midyat;
  zoom: 1.4
}

.ffurhoy {
  font-family: urhoy;
  zoom: 1.65
}

.ffmardin {
  font-family: mardin;
  zoom: 1.6
}

body [class*='icon']{
  font-family: material;
}