[hide] {
  display: none
}

.h100p {
  height: 100%
}

.zi50 {
  z-index: 50
}

.aic {
  align-items: center !important
}

.box *,
.cards {
  box-sizing: border-box;
}

@font-face {
  font-family: material;
  src: url('https://cdn.front.nu/dist/design/material/icons/material.woff')
}

body [class*='icon'] {
  font-family: material;
}